*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body,html{
    min-width: 1400px;
}
.top .center .left img{
    width: 131px;
}

.top .center{
    width: 1400px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1400px;
}
.top .center .mid .form .search{
    background-color: #f3f6f8;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    border-right: none;
}
.top .center .mid .form .search .type{
    font-size: 14px;
    padding-left: 19px;
}
.top .center .mid .form .search .text{
    background-color: #f3f6f8;
    border: none;
    width: 300px;
    height: 24px;
    padding: 4px 10px;
    line-height: 24px;
    outline: none;
}

.top .center .mid .form .search .submit{
    shape-outside: none;
    padding: 0 23px;
    font-size: 16px;
    background-color: #4755da;
    border-radius: 20px;
    height: 34px;
    position: relative;
    top: -1px;
    color: white;
    border: none;
    float: right;
}

.top .center .right{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}
.top .center .right .login{
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    border: 1px solid #ededed;
    text-align: center;
    background-color: #f5f5f5;
}
.top .center .right .login a{
    color: #60a5e4;
}
.top .center .right .iconfont{
    color: #4755da;
    font-size: 28px;
}
.top .center .right .iconfont:hover{
    color: #fc830a;
}
.top .center .right>div{
    margin-left: 15px;
}

.nav .center{
    height: 50px;
    width: 1400px;
    margin: 0 auto;
    background-color: #4755da;
}
.nav .center .list{
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav .center .list .nav_item{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav .center .list .nav_item .iconfont{
    color: white;
}
.nav .center .list .nav_item a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 34px;
    color: white;
    font-size: 18px;
}
.nav .center .list .nav_item:last-of-type a{
    width: 80px;
    height: 50px;
}
.nav .center .list .nav_item:last-of-type:hover a{
    color: white;
    background: none;
}
.nav .center .list .nav_item a:hover{
    color: #34369c;
    background-color: #ccdfee;
}

.wrap_ad{
    margin: 30px 0 15px 0;
}
.wrap_ad .center{
    margin: 0 auto;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}
.wrap_ad .center .left{
    position: relative;
}
.wrap_ad .center .left .iconfont{
    position: absolute;
    left: 1px;
    bottom: 2px;
    color: grey;
    font-size: 1.3em;
}
.wrap_ad .center .right{
    width: 440px;
    position: relative;
}
.wrap_ad .center .right .picture{
    position: absolute;
    top: 0;
}
.wrap_ad .center .right .dotOne{
    width: 5px;
    height: 5px;
    background-color: #c4c9d7;
    position: absolute;
    right: 110px;
    top: 5px;
    z-index: 2;
    border-radius: 100%;
}
.wrap_ad .center .right .dotTwo{
    width: 5px;
    height: 5px;
    background-color: #c4c9d7;
    position: absolute;
    right: 100px;
    top: 5px;
    z-index: 2;
    border-radius: 100%;
}
.wrap_ad .center .right .dotThree{
    width: 5px;
    height: 5px;
    background-color: #c4c9d7;
    position: absolute;
    right: 90px;
    top: 5px;
    border-radius: 100%;
    z-index: 2;
}
.wrap_ad .center .right .active{
    z-index: 1;
}
.wrap_ad .center .right .active .dot{
    background-color: #7484be;
}
.wrap_contain li a{
    color: #333333;
}
.wrap_contain{
    color: #333333;
}
.wrap_contain a{
    color: #333;
}
.wrap_contain a:hover{
    color: #4755da;
}
.wrap_contain .center{
    width: 1400px;
    margin: 0 auto;
    display: flex;
}
.wrap_contain li{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wrap_contain .center .left{
    width: 440px;
}

.wrap_contain .center .left .title{
    border-bottom: 1px solid #ccddf4;
    height: 43px;
    display: flex;
    justify-content: space-between;
}
.wrap_contain .center .left .title .nav{
    display: flex;
    align-items: center;
    line-height: 43px;
    font-size: 20px;
}
.wrap_contain .center .left .title .nav div{
    padding-bottom: 4px;
}
.wrap_contain .center .left .title .nav .I{
    margin: 0 20px 0 21px;
    border-left: 1px solid #e1e1e1;
    height: 20px;
}
.wrap_contain .center .title .weather{
    height: 43px;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}
.wrap_contain .center .title .weather .iconfont{
    font-size: 25px;
    margin: 0 13px 0 8px;
}
.wrap_contain .center .left .title .nav .active{
    padding-bottom: 0;
    border-bottom: 4px solid #4755da;
    height: 40px;
    line-height: 40px;
}
.wrap_contain .center .left .title .nav .active a{
    color: #4755da;
}


.wrap_contain .main .list .news{
    line-height: 36px;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
}
.wrap_contain .center .list .news a{
    overflow: hidden;
    text-overflow: ellipsis;
}
.wrap_contain .main .newsHasImg img{
    width: 214px;
    height: 120px;
    flex-grow: 0;
    flex-shrink:0;
}
.wrap_contain .main .list .newsOne{
    padding: 14px 0 7px 0;
    height: 36px;
    word-wrap: break-word;
    word-break: normal;
}
.wrap_contain .main .list .newsOne{
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    color: #333;
}
.wrap_contain .main  .newsHasImg{
    display: flex;
    white-space: normal;
    padding: 20px 0;
    flex-grow: 0;
}
.wrap_contain .main  .newsHasImg .text{
    margin-left: 15px;
    line-height: 30px;
}

.wrap_contain .center .mid{
    margin-left: 40px;
    width: 440px;
}

.wrap_contain .center .mid .title{
    border-bottom: 1px solid #ccddf4;
    height: 43px;
    display: flex;
    justify-content: space-between;
}
.wrap_contain .center .mid .title .nav{
    display: flex;
    align-items: center;
    line-height: 43px;
    font-size: 20px;
}
.wrap_contain .center .mid .title .nav div{
    padding-bottom: 4px;
}
.wrap_contain .center .mid .title .nav .active{
    padding-bottom: 0;
    border-bottom: 4px solid #4755da;
    height: 40px;
    line-height: 40px;
}
.wrap_contain .center .mid .title .nav .active a{
    color: #4755da;
}
.wrap_contain .center .list .colunm{
    color: rgb(37, 62, 109);
    font-weight: 700;
    flex-shrink: 0;
}
.wrap_contain .center .list .colunm:hover{
    color: #5745fe;
}
.wrap_contain .center .list .I{
    border-left: 1px solid #e1e1e1;
    height: 20px;
    margin: 0 5px 0 6px;
    align-self: center;
}
.wrap_contain .center .main .foot{
    margin-top: 6px;
}
.wrap_contain .center .main .division{
    width: 440px;
    height: 36px;
    position: relative;
    background: url(./img/分割线.png) left 22px no-repeat;
}
.wrap_contain .center .main .division img{
    position: absolute;
    left: 0;
    top: 0;
    width:183.5px;
}
.wrap_contain .center .mid .main .newsHasImg{
    padding-top: 15px;
}



.wrap_contain .center .right{
    width: 440px;
    margin-left: 40px;
}

.wrap_contain .center .right .navBox{
    border-top: 1px solid #cae0f3;
    border-left: 1px solid #cae0f3;
    border-right: 1px solid #cae0f3;
    position: relative;
}
.wrap_contain .center .right .navBox>ul>li{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid #cae0f3;
}

.wrap_contain .center .right .navBox .navList{
    padding-left: 10px;
    height: 40px;
    display: flex;       
    align-items: center;

}
.wrap_contain .center .right .navBox .navList li a{
    margin-right: 13px;
    font-size: 14px;
}
.wrap_contain .center .right .navBox .navList li:last-of-type a{
    margin-right: 0;
}
.wrap_contain .center .right .navBox .open{
    position: absolute;
    border-top: 1px solid #cae0f3;
    border-left: 1px solid #cae0f3;
    border-bottom: 1px solid #cae0f3;
    width: 15px;
    height: 40px;
    left: -17px;
    top: -1px;
    line-height: 40px;
    color: #4755da;
    font-weight: 900;
    cursor: pointer;
}
.wrap_contain .center .right .navBox .open .iconfont{
    position: relative;
    right: 3px;
}
.wrap_contain .center .right .navBox:hover .open{
    background-color: #4755da;
    color: white;
}
.wrap_contain .center .right .navBox .iconfont{
    margin-right: 15px;
    font-size: 20px;
    color: #bac6ed;
}

.wrap_contain .center .right .title{
    border-bottom: 1px solid #ccddf4;
    height: 43px;
    display: flex;
    justify-content: space-between;
}
.wrap_contain .center .right .title .nav{
    display: flex;
    align-items: center;
    line-height: 43px;
    font-size: 20px;
}
.wrap_contain .center .right .title .nav div{
    padding-bottom: 4px;
}
.wrap_contain .center .right .title .nav .active{
    padding-bottom: 0;
    border-bottom: 4px solid #4755da;
    height: 40px;
    line-height: 40px;
}
.wrap_contain .center .right .title .desc{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.wrap_contain .center .right .title .desc .iconfont{
    font-weight: normal;
    color: #7f97ee;
    font-size: 14px;
    margin-left: 10px;
}
.wrap_contain .center .right .title .I{
    border-left: 1px solid #e1e1e1;
    height: 20px;
    margin: 0 5px 0 6px;
    align-self: center;
}
.wrap_contain .center .right .title{
    margin-top: 13px;
    margin-bottom: 25px;
} 
.wrap_contain .center .right .title .desc .date{
    color: #3d82f8;
}
.wrap_contain .center .right .title .desc .go{
    color: #64788c;
}

.wrap_contain .center .right .mainImg{
    position: relative;
    margin-bottom: 20px;
}
.wrap_contain .center .right .mainImg div{
    position: absolute;
    font-size: 16px;
    left: 15px;
    bottom: 20px;
    color: white;
}

.wrap_contain .center .right .main li{
    height: 36px;
    line-height: 36px;
}
.wrap_contain .center .right .navBox .navList .other{
    padding: 0px 10px;
    color: white;
}
.wrap_contain .center .right .navBox .navList .otherDiv{
    background-color: #b9c5ed;
    border-radius: 100px;
    line-height: 20px;
    height: 20px;
    padding-bottom: 3px;
    position: relative;
    top: 1px;
}
.wrap_contain .center .right .navBox .navList .otherDiv:hover .other{
    color: #4755da;
}

.demo{
    background-color: #653eff;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    position: absolute;

}
.demo .iconfont{
    color: whitesmoke;
    position: relative;
    font-size: 20px;
}
.wrap_contain .center .foot .newsHasImg{
    position: relative;
}
.wrap_contain .center .foot .newsHasImg .demo{
    left: 15px;
    top: 100px;
}

.wrap_contain .center .right .mainImg{
    position: relative;
}
.wrap_contain .center .right .mainImg .demo{
    width: 40px;
    height: 40px;
    left: 15px;
    bottom: 50px;
}
.wrap_contain .center .right .mainImg .demo .iconfont{
    font-size: 40px;
}
@media(max-width:1400px){
    body,html{
        width: 1200px;
        min-width: 1200px;
        margin: 0 auto;
    }
    .top .center{
        width: 1200px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 1200px;
    }
    .nav .center{
    height: 50px;
    width: 1200px;
    margin: 0 auto;
    background-color: #4755da;
    }
    .wrap_ad .center{
        margin: 0 auto;
        width: 1200px;
        display: flex;
        justify-content: space-between;
    }
    .wrap_ad .center .left a img{
        width: 788px;
    }
    .wrap_ad .center .right{
        width: 377px;
    }
    .wrap_ad .center .right .picture a img{
        width: 377px;
    }
    .wrap_contain .center{
        width: 1200px;
        margin: 0 auto;
        display: flex;
    }
    .wrap_contain .center .left{
        width: 377px;
    }
    .wrap_contain .center .mid{
        margin-left: 34px;
        width: 377px;
    }
    .wrap_contain .center .right{
        width: 377px;
        margin-left: 34px;
    }
    .wrap_contain .center .right .mainImg a img{
        width: 377px;
    }
    .wrap_contain .center .right .navBox ul li .navList li a{
        font-size: 11px;
    }


    .wrap_contain .main .list .news {
        line-height: 32px;
        font-size: 14px;
        display: flex;
        align-items: flex-start;
    }
    .wrap_contain .main  .newsHasImg .text{
        margin-left: 15px;
        line-height: 20px;
        font-size: 14px;
    }
    .wrap_contain .center .right .title .nav {
        display: flex;
        align-items: center;
        line-height: 43px;
        font-size: 18px;
    }
    .wrap_contain .center .right .title .desc {
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    .wrap_contain .center .main .division{
        width: 377px;
        height: 32px;
        position: relative;
        background: url(./img/分割线.png) left 22px no-repeat;
    }
    .wrap_contain .center .main .division img{
        position: absolute;
        left: 0;
        top: 0;
        width:157px;
    }
    .wrap_contain .main .list .newsOne {
        padding: 12px 0 6px 0;
        height: 32px;
        word-wrap: break-word;
        word-break: normal;
    }
    .wrap_contain .center .right .mainImg div {
        position: absolute;
        font-size: 14px;
        left: 15px;
        bottom: 20px;
        color: white;
    }
    .wrap_contain .center .right .mainImg .demo{
        width: 34px;
        height: 34px;
        left: 15px;
        bottom: 50px;
    }
    .wrap_contain .center .right .mainImg .demo .iconfont{
        font-size: 34px;
    }
}
@media(max-width:1200px){
    body,html{
        width: 1000px;
        min-width: 1000px;
        margin: 0 auto;
    }
    .top .center{
        width: 1000px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 1000px;
    }
    .nav .center{
    height: 50px;
    width: 1000px;
    margin: 0 auto;
    background-color: #4755da;
    }
    .wrap_ad .center{
        margin: 0 auto;
        width: 1000px;
        display: flex;
        justify-content: space-between;
    }
    .wrap_ad .center .left a img{
        width: 657px;
    }
    .wrap_ad .center .right{
        width: 314px;
    }
    .wrap_ad .center .right .picture a img{
        width: 314px;
    }
    .wrap_contain .center{
        width: 1000px;
        margin: 0 auto;
        display: flex;
    }
    .wrap_contain .center .left{
        width: 314px;
    }
    .wrap_contain .center .mid{
        margin-left: 28px;
        width: 314px;
    }
    .wrap_contain .center .right{
        width: 314px;
        margin-left: 28px;
    }
    .wrap_contain .center .right .mainImg a img{
        width: 314px;
    }
    .wrap_contain .center .right .navBox ul li .navList li a{
        font-size: 11px;
        margin-right: 10px;
    }

    .wrap_contain .center .right .navBox ul li:nth-of-type(-n+3) .navList li:last-of-type{
        display: none;
    }
    .wrap_contain .center .right .navBox ul li:last-of-type .navList li:nth-of-type(6){
        display: none;
    }
    .wrap_contain .main .list .news {
        line-height: 28px;
        font-size: 12px;
        display: flex;
        align-items: flex-start;
    }
    .wrap_contain .main  .newsHasImg .text{
        margin-left: 15px;
        line-height: 20px;
        font-size: 12px;
    }
    .wrap_contain .center .right .title .nav {
        display: flex;
        align-items: center;
        line-height: 43px;
        font-size: 16px;
    }
    .wrap_contain .center .right .title .desc {
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    .wrap_contain .center .main .division{
        width: 314px;
        height: 28px;
        position: relative;
        background: url(./img/分割线.png) left 22px no-repeat;
    }
    .wrap_contain .center .main .division img{
        position: absolute;
        left: 0;
        top: 0;
        width:131px;
    }
    .wrap_contain .main .list .newsOne {
        padding: 10px 0 5px 0;
        height: 28px;
        word-wrap: break-word;
        word-break: normal;
    }
    .wrap_contain .center .right .mainImg div {
        position: absolute;
        font-size: 11px;
        left: 15px;
        bottom: 20px;
        color: white;
    }
    .wrap_contain .center .right .mainImg .demo{
        width: 28px;
        height: 28px;
        left: 15px;
        bottom: 50px;
    }
    .wrap_contain .center .right .mainImg .demo .iconfont{
        font-size: 28px;
    }
}

